@mixin displayHeader(){
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

@mixin displayHome(){
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin styleCard($gradient) {
    position: absolute;
    content: "";
    bottom: 3.7%;
    width: 60%;
    height: 5px;
    background: $gradient;
}
