$background-Header: linear-gradient(90deg, rgba(233, 73, 42, 1) 0%, rgba(231, 35, 87, 1) 100%);
$background-main: #ffffff;
$background-layout: #F1F1F1;
$background-footer: #fc4c02;


$color-title: #231f20;
$color-title-descricao: #74787a;
$color-title-fonte: #b2b2b2;
$color-title-footer: #646869;
$color-title-card01: #231f20;

$linear-card1: linear-gradient(120deg, #ed3160 0%, #6160aa 100%);
$linear-card1-bto: linear-gradient(120deg, #69c9cd 0%, #6160a9 100%);
$linear-card2: linear-gradient(120deg, #69c9cd 0%, #69c9cd 0.01%, #2cb98e 100%);
